.wrapper {

  $this: &;

  margin: 8px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  &__page-description {
    padding-inline: 20px;

    &--hide {
      display: none;
    }
  }


  &__task-list {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    background: #f3f3f3;
    min-width: 341px;
    border-radius: 5px;
    padding: 15px 15px;

    &:first-of-type {
      grid-column: 1 / 4;

      #{$this}__posts-container {
        flex-direction: row;
      }
    }
  }

  &__posts-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 200px;

    &--active {
      background-color: var(--mantine-color-grape-9);
    }
  }

  &__context {
    display: none;
    &--show {
      display: block;
    }
  }

  &__information {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 10px;
}

&__title {
  text-decoration: dashed underline;
}

&__details {
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;

  }
}

.mantine-Modal-content {
  height: 100%;
}

.mantine-Modal-body {
  height: 90% !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}